* {
  list-style: none;
  text-decoration: none;
}
 .btun{
    background-color: #D4B098;
    border: none;
  }
  .rasmlar{
    height: 460px;
    width: 100%;
    padding: 0;
  }
  .totembo{
    margin: 30px 40px;
  }
  .footer{
    background-color: #444240;
  }
  .md{
    
  }